#logo1{
    color: white;
}
#logo2{
    color : #ff9933;
}
#usefulLinks{
    margin-left: 50px;
}
.facebook{
    color: #3b5998
}
.twitter{
    color: #1DA1F2;;
}
.instagram{
    color: #C13584;
}
.youtube{
    color: #FF0000;
}
.titles{
    color: #2b0abe;
}

